<div class="card">
  <img
    class="card-img-top"
    data-src="holder.js/100x180/"
    alt="Card image cap"
  />
  <div class="card-body">
    <h4 class="card-title">Recipe Name</h4>
    <p class="card-text">Description</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">To shopping list</a>
          <a class="dropdown-item" href="#">Edit recipe</a>
          <a class="dropdown-item" href="#">Delete recipe</a>
        </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
