<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="float-left">
          <h4>Recipe Name</h4>
          <small>Description</small>
        </div>
        <span class="float-right">
          <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg" class="img-responsive" alt="Imagen Description" style="max-height: 50px;">
        </span>
      </a>
    </div>
  </div>
</div>
